<div class="row">
    <div class="medium-2 columns">
        <img src="{{ leader.foto | prepend: 'assets/img/candidates/' | prepend: site.baseurl }}" class="centered" style="margin-top: 25px;">
    </div>
    <div class="medium-10 columns">
        <div class="row">
            <div class="medium-5 columns">
                <h3>{{leader.name}} ({{leader.age}})</h3> {{leader.profese}}
            </div>
            <div class="medium-5 columns">
                <h4>{{leader.region}}</h4>
                {% if leader.kandidatka %} {{leader.kandidatka}} {% else %}
                {{leader.strana}}
                {% endif %}
            </div>
            <div class="medium-2 columns">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="medium-12 columns">
                <p>{{ leader.text }}</p>
                <p><a href="{{leader.profil}}">Profil kandidáta ></a></p>
            </div>
        </div>
    </div>
</div>
