<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pirátská strana - Pirati.cz</title>

    <!-- social metas -->
    <meta property="og:title" content="Česká pirátská strana - Pirati.CZ">
    <meta property="og:site_name" content="Pirati.CZ"/>
    <meta property="og:url" content="https://www.pirati.cz/">
    <meta property="og:type" content="website">

    <meta property="og:image" content="https://www.pirati.cz/assets/img/banner_desktop.jpg"/>
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1300" />
    <meta property="og:image:height" content="360" />
    <meta property="og:description" content="Cílem Pirátské strany je na prvním místě prosazování základního práva člověka na svobodné šíření informací a striktní ochranu soukromí občana."/>
    <meta property="fb:admins" content="1609075674"/>
    <meta property="fb:admins" content="1734211895"/>
    <meta property="fb:admins" content="1507905830"/>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="pirati">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ 'assets/favicon/apple-touch-icon-57x57.png' }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'assets/favicon/apple-touch-icon-114x114.png'  }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'assets/favicon/apple-touch-icon-72x72.' }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'assets/favicon/apple-touch-icon-144x144.' }}">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ 'assets/favicon/apple-touch-icon-60x60.' }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ 'assets/favicon/apple-touch-icon-120x120.' }}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ 'assets/favicon/apple-touch-icon-76x76.' }}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ 'assets/favicon/apple-touch-icon-152x152.' }}">
    <link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-196x196.png' }}" sizes="196x196">
    <link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-96x96.png' }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-32x32.png' }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-16x16.png' }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-128.png' }}" sizes="128x128">
    <meta name="application-name" content="Česká pirátská strana">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="{{ 'assets/favicon/mstile-144x144.' }}">
    <meta name="msapplication-square70x70logo" content="{{ 'assets/favicon/mstile-70x70.' }}">
    <meta name="msapplication-square150x150logo" content="{{ 'assets/favicon/mstile-150x150.' }}">
    <meta name="msapplication-wide310x150logo" content="{{ 'assets/favicon/mstile-310x150.' }}">
    <meta name="msapplication-square310x310logo" content="{{ 'assets/favicon/mstile-310x310.' }}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,500,700&subset=latin-ext" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.min.css' />
</head>
