<h1>Otevřeme hospodaření kraje</h1>

<ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Zprůhledníme financování</a>
        <div class="accordion-content" data-tab-content>
          {% include program/1-1-financovani.html %}
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Budeme hospodařit efektivně</a>
        <div class="accordion-content" data-tab-content>
          {% include program/1-2-hospodareni.html %}
        </div>
    </li>
</ul>

<h1>Víme, jak řídit kraj zodpovědně</h1>

<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
  <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Víme, jak řídit kraj zodpovědně</a>
      <div class="accordion-content" data-tab-content>
        {% include program/2-1-rizeni.html %}
      </div>
  </li>
</ul>

<h1>Zapojíme občany do rozhodování</h1>

<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Jednáme s lidmi otevřeně</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-1-jedname-otevrene.html %}
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Usnadníme přístup k informacím</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-2-usnadninme-infopristup.html %}
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Vyjdeme vstříc aktivním občanům</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-3-aktivni-obcane.html %}
        </div>
    </li>
</ul>

<h1>Veřejné služby slouží občanům</h1>

<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Dohlédneme na kvalitní a dostupné veřejné služby</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-1-jedname-otevrene.html %}
        </div>
    </li>
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Dopravní infrastruktura s koncepcí a rozmyslem</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-2-usnadninme-infopristup.html %}
        </div>
    </li>
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Zlepšíme dopravní obslužnost</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-3-aktivni-obcane.html %}
        </div>
    </li>
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Využijeme příležitosti pro cestovní ruch</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-3-aktivni-obcane.html %}
        </div>
    </li>
</ul>

<h1>Prosadíme moderní technologie</h1>

<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Usnadníme občanům styk s úřady</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-1-jedname-otevrene.html %}
        </div>
    </li>
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Osvobodíme software a formáty</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-2-usnadninme-infopristup.html %}
        </div>
    </li>
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Internet pro všechny</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-3-aktivni-obcane.html %}
        </div>
    </li>
</ul>

<h1>Investujeme do vzdělání</h1>

<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Kvalitní školy se nám vyplatí</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-1-jedname-otevrene.html %}
        </div>
    </li>
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Usnadníme lidem samostatné vzdělávání</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-2-usnadninme-infopristup.html %}
        </div>
    </li>
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Podporujeme kulturu a sport<</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-3-aktivni-obcane.html %}
        </div>
    </li>
</ul>

<h1>Zajistíme kvalitní zdravotní a sociální služby</h1>

<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Vyřešíme financování zdravotnictví</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-1-jedname-otevrene.html %}
        </div>
    </li>
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Kvalita a osobní přístup v sociálních službách</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-2-usnadninme-infopristup.html %}
        </div>
    </li>
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Dáme lidem šanci najít práci<</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-3-aktivni-obcane.html %}
        </div>
    </li>
</ul>

<h1>Chráníme životní prostředí</h1>

<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Odstraňujeme ekologické zátěže</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-1-jedname-otevrene.html %}
        </div>
    </li>
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Energetiku stavíme na inovacích</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-2-usnadninme-infopristup.html %}
        </div>
    </li>
    <li class="accordion-item strong" data-accordion-item>
        <a href="#" class="accordion-title">Ekologicky rozvíjíme města i krajinu<</a>
        <div class="accordion-content" data-tab-content>
          {% include program/3-3-aktivni-obcane.html %}
        </div>
    </li>
</ul>


<h2 class="sectionedit10"><a name="verejne_sluzby_slouzi_obcanum" id="verejne_sluzby_slouzi_obcanum">Veřejné služby slouží občanům</a></h2>

<p>
    <a href="/_detail/volby2012/doprava.jpg?id=volby%3A2016%3Aprogram" class="media" title="volby2012:doprava.jpg"><img src="/_media/volby2012/doprava.jpg" class="media" title="Doprava" alt="Doprava" /></a>
</p>

<h3 class="sectionedit11"><a name="dohledneme_na_kvalitni_a_dostupne_verejne_sluzby" id="dohledneme_na_kvalitni_a_dostupne_verejne_sluzby">Dohlédneme na kvalitní a dostupné veřejné služby</a></h3>
<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Veřejné služby tu nejsou pro zisk, ale v zájmu občanů.</strong>
            </p>
            <p>
                Poskytování kvalitních veřejných služeb je hlavním cílem územní samosprávy. Úbytek infrastruktury vede k vylidňování obcí. Zavírání místních škol či knihoven podpoříme jen v případech odůvodnených odbornými studiemi. Zanedbání silnic a jiné infrastruktury
                chápeme jako důsledek špatného hospodaření. Předpokládáme, že námi navrhované otevřené hospodaření přinese úspory, které umožní dlouhodobě dotovat i neziskové, přitom prospěšné, služby a jejich rozvoj.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Prosazujeme rovný přístup k veřejným službám.</strong>
            </p>
            <p>
                Není pro nás přijatelné, aby se kraj podílel na zvyšování nerovnosti mezi občany v přístupu k cestám, zdravotním zařízením a jiným veřejným službám. Nechceme, aby byly někteří občané v některých oblastech neodůvodněně zvýhodňováni v přístupu k veřejným
                službám na úkor ostatních. Při plánování infrastruktury budeme brát v úvahu dostupnost služeb, aby nevznikaly vyloučené lokality.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Stavíme se proti sledování občanů v případech, kde to není opodstatněné.</strong>
            </p>
            <p>
                Nesouhlasíme s nadměrným použitím bezpečnostních kamer, čipových karet a podobných nástrojů, zneužitelných pro sledování. Většina lidí má jen velmi málo možností, jak používat veřejné služby bez sledování. Místa, kde se vyskytují kamery, musí být označena.
                Kamery mají opodstatnění jen na některých místech (bankomaty, zlatnictví, nebezpečná místa). Jinde občany obtěžují, aniž by přispívaly k objasňování zločinů.
            </p>
        </div>
    </li>
</ul>


<h3 class="sectionedit12"><a name="dopravni_infrastruktura_s_koncepci_a_rozmyslem" id="dopravni_infrastruktura_s_koncepci_a_rozmyslem">Dopravní infrastruktura s koncepcí a rozmyslem</a></h3>
<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Financování veřejné dopravy a výstavby dopravní infrastruktury se musí dostat pod veřejnou kontrolu.</strong>
            </p>
            <p>
                Všechny dopravní organizace spadající pod kraj musí fungovat transparentně. Jsme proti monopolu na objednávání dopravní obslužnosti, naopak podporujeme soutěž mezi poskytovateli. Veřejné zakázky musí být vypisovány tak, aby se soutěže mohlo účastnit co
                nejvíce firem. Veškeré smlouvy a dokumentace musí být ke kontrole na Internetu.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Odmítáme současnou praxi, kdy jsou nepromyšleně rušeny železniční tratě bez vyčíslování úspor, kterých se tím  dosáhne, bez plánů, jak se zrušenou tratí naložit, a bez propočtu nákladů na možnou výstavbu tratě v budoucnosti.</strong>
            </p>
            <p>
                V České republice existuje hustá železniční síť. V posledních letech se tato síť postupně odstraňuje, zatímco výstavba silnic roste. Piráti se zasazují o průhledné a odůvodněné plánování a výstavbu dopravní infrastruktury. Jako logická první možnost se
                nabízí využití již existujících dopravních sítí. Na železnici je však potřeba větší soutěž mezi dopravci a využití pro přepravu zboží.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>U dopravní stavby je nutné nejprve doložit její skutečnou  užitečnost, teprve poté ji celou připravit, zajistit pozemky a až následně začít stavět.</strong>
            </p>
            <p>
                Celý proces plánování a výstavby velkých dopravních staveb je třeba zásadně změnit. Skoncujeme se současnou praxí, kdy se staví odnikud nikam, případně stát až v průběhu výstavby zjišťuje, že nevykoupil všechny potřebné pozemky. Do připomínkování dopravních
                staveb chceme zapojit veřejnost a neziskové organizace.
            </p>
        </div>
    </li>
</ul>

<h3 class="sectionedit13"><a name="zlepsime_dopravni_obsluznost" id="zlepsime_dopravni_obsluznost">Zlepšíme dopravní obslužnost</a></h3>
<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zasadíme se o to, aby se s cyklisty a chodci počítalo už při plánování dopravní sítě a staveb.</strong>
            </p>
            <p>
                Nechceme nutit lidi k tomu, aby využívali určitý způsob přepravy. Naopak jim chceme otevřít řadu možností, ze kterých si budou moci vybrat. Proto je potřeba s cyklisty a chodci počítat už při plánování dopravních staveb. U stávajících silnic je potřeba
                vyřešit krizová místa tak, aby cyklostezky a cyklotrasy náhle nekončily.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Piráti prosazují propojování jednotlivých složek veřejné dopravy, tedy propojení dopravy autobusové, vlakové a městské hromadné. Musí probíhat na principu otevřených standardů a nemá končit na hranici kraje.</strong>
            </p>
            <p>
                Chceme dosáhnout stavu, kdy si člověk při nástupu do místního autobusu bude moci koupit lístek, který mu vydrží až do centra velkého města, a to i v případě, že během cesty využije vlak. Propojování dopravních systémů není rozumné zavádět pomocí velikášských
                projektů typu Opencard. Lepší je nabídnout jednotlivým přepravcům otevřený systém, ke kterému se mohou přidat.
            </p>
            <p>
                Budeme poskytovat data o prostředcích veřejné dopravy tak, aby je mohly využívat různé komerční i nekomerční aplikace.
            </p>
        </div>
    </li>
</ul>

<h3 class="sectionedit14"><a name="vyuzijeme_prilezitosti_pro_cestovni_ruch" id="vyuzijeme_prilezitosti_pro_cestovni_ruch">Využijeme příležitosti pro cestovní ruch</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Je třeba udržovat kulturní i přírodní památky a objevovat nové, zpřístupňovat je veřejnosti a informovat o nich.</strong>
                </p>
                <p>
                    Chceme budovat naučné stezky a cyklostezky, protože samotné památky bez vhodného přístupu k nim nestačí. Pro informování turistů má sloužit přehledný krajský web. Dostupné informace v držení kraje (archivní fotografie, texty) by měly být poskytnuty projektům,
                    jako je encyklopedie Wikipedie, které svou činností zlepšují informovanost o kraji.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Pro cestovní ruch podporujeme zviditelňování kulturních akcí.</strong>
                </p>
                <p>
                    Dnes se jezdí hlavně na větší akce v krajských městech, my je chceme rozšířit i do menších měst. Pořadatelé akcí by o dotace z krajského rozpočtu měli soutěžit v průhledných grantových řízeních.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Prosazujeme transparentní nakládání s dotacemi EU na regionální rozvoj.</strong>
                </p>
                <p>
                    Evropské dotace mají být využívány na projekty prospěšné co nejvíce lidem, ne na golfová hřiště či soukromé zámečky, ze kterých mají užitek jen někteří. Toho lze dosáhnout transparentním nakládáním s nimi, spojeným s větším důrazem na názor občanů.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Za efektivní nástroj považujeme sdílení osvědčených projektů mezi kraji, obcemi a přes hranice.</strong>
                </p>
                <p>
                    Není potřeba vynalézat kolo. Pokud je nějaký projekt úspěšný, měl by být dostatečně propagován, aby ho mohly realizovat ostatní kraje či obce. Proto podporujeme jejich vzájemnou větší komunikaci. Užitečné je také čerpat inspiraci ze zahraničí, kde mají
                    často větší zkušenosti.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT14 SECTION "Využijeme příležitosti pro cestovní ruch" [19944-21630] -->
<h2 class="sectionedit15"><a name="prosadime_moderni_technologie" id="prosadime_moderni_technologie">Prosadíme moderní technologie</a></h2>
<div class="level2">

    <p>
        <a href="/_detail/volby2012/digitalnikraj.jpg?id=volby%3A2016%3Aprogram" class="media" title="volby2012:digitalnikraj.jpg"><img src="/_media/volby2012/digitalnikraj.jpg" class="media" title="Digitální kraj" alt="Digitální kraj" /></a>
    </p>

</div>
<!-- EDIT15 SECTION "Prosadíme moderní technologie" [21631-21724] -->
<h3 class="sectionedit16"><a name="usnadnime_obcanum_styk_s_urady" id="usnadnime_obcanum_styk_s_urady">Usnadníme občanům styk s úřady</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Informovaný a angažovaný občan je největším spojencem efektivní státní správy. Umožníme každému se takovým občanem stát a zajišťovat spolu s ostatními nestranný dohled nad státní správou.</strong>
                </p>
                <p>
                    Zavedeme elektronické systémy zajištující komunikaci a aktivní zapojení široké veřejnosti ve správě kraje a budeme podporovat obdobný vývoj i na obecní úrovni. Umožníme občanům se elektronicky sdružovat na místním principu a diskutovat s politiky problémy,
                    které se jich týkají.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Kraj musí zajistit dostupné a předpřipravené formuláře pro odstranění zbytečné byrokracie.</strong>
                </p>
                <p>
                    Pro úsporu času občanů zajistíme, aby veškeré dokumenty nutné pro styk s úřadem byly dostupné a snadno dohledatelné na krajském webu, a to v otevřených formátech, zpracovatelných zdarma dostupným softwarem. Pro lepší informovanost nabídneme možnost přihlásit
                    se k odběru vývěsky kraje v e-mailové podobě a RSS. Zaměříme se na to, aby byly formuláře a smlouvy připraveny na bezproblémové použití; nutnou podmínkou je použití srozumitelné češtiny, nikoliv právní hantýrky.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT16 SECTION "Usnadníme občanům styk s úřady" [21725-22944] -->
<h3 class="sectionedit17"><a name="osvobodime_software_a_formaty" id="osvobodime_software_a_formaty">Osvobodíme software a formáty</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Budeme používat svobodné formáty.</strong>
                </p>
                <p>
                    Krajský úřad bude všechny dokumenty určené veřejnosti zveřejňovat ve svobodných a otevřených formátech, pokud takový formát ve vhodné kvalitě existuje pro daný typ dat (např. ODT a PDF pro textové dokumenty, WebM pro audiovizuální soubory, apod.). Kraj
                    nesmí žádat po občanech používání konkrétních placených programů pro bezchybný přístup k informacím, které vytvořil.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Zajistíme přechod úřadů na svobodný software kdekoliv je to možné. Svobodný software bude rozšířen i do škol, nemocnic a dalších  organizací zřizovaných krajem.</strong>
                </p>
                <p>
                    V dnešní době existuje řada počítačových programů, které jsou dostupné zdarma a zvládnou stejné funkce jako zavedené komerční programy. Přesto řada úřadů utrácí obrovské peníze za komerční programy. Kromě toho, že je <a href="/program/svoboda_informaci"
                        class="wikilink1" title="program:svoboda_informaci">svobodný software</a> dostupný zdarma, může také kdokoliv studovat kód a odhalit případné zlomyslné funkce, které mohou ohrozit bezpečnost osobních údajů občanů nebo umožňují manipulace
                    („losovačka“ u veřejných zakázek). Svobodný software má také výhody při vyučování, a proto podporujeme jeho rozšíření do škol. Pro dlouhodobou úsporu nákladů se zavazujeme používat svobodný software všude tam, kde je to možné.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Zrovnoprávníme živnostníky a střední firmy ve veřejných zakázkách týkajících se informačních technologií.</strong>
                </p>
                <p>
                    U velkých komerčních programů je často problém, že kvůli nepřístupnosti zdrojového kódu a smluvené licenci nemůžete program sami upravovat a doplňovat, i když si ho legálně koupíte. Také pro svobodný software existují komerční firmy, které se zabývají
                    jeho vývojem a podporou. Výhoda svobodného softwaru je také v tom, že úřad není závislý na jednom dodavateli, ale může si najmout firmu, která program doplní a upraví podle potřeb úřadu. Nově vyvinutý program bude dostupný i pro další
                    použití úřadů, ale díky svobodné licenci ho budou moci používat i občané a firmy ve svém podnikání.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Zavedeme profesionální šablony a otevřené standardy pro dokumenty, které usnadní jejich zveřejňování.</strong>
                </p>
                <p>
                    Podobně jako v Německu bude součástí úředních šablon i jednotný a profesionální vzhled dokumentů. Díky jednotným šablonám a svobodným formátům podle standardu Open Data budou rozhodnutí rychleji zpracována a automaticky publikována v souladu se zákonem
                    o svobodném přístupu k informacím podle modelu <a href="/program/transparence" class="wikilink1" title="program:transparence">transparentní organizace</a>.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT17 SECTION "Osvobodíme software a formáty" [22945-25686] -->
<h3 class="sectionedit18"><a name="internet_pro_vsechny" id="internet_pro_vsechny">Internet pro všechny</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Podporujeme volnou přístupnost Internetu ve veřejných prostorách a prostranstvích i v domácnostech.</strong>
                </p>
                <p>
                    Stejně tak, jako se kdysi staly nepostradatelnými vodovody a elektrická síť, začíná být i Internet nepostradatelný pro způsob života většiny lidí. Dostupný Internet lidem usnadňuje hledání práce a poskytuje jim přístup k informacím. Budeme směřovat investice
                    do infrastruktury, odstraňování bariér a vhodného územního plánování; vytvoříme tak podmínky pro rychlý a dostupný Internet.
                </p>
                <p>
                    Budeme zavádět wi-fi připojení ve veřejných budovách. Chceme též podporovat sdružení poskytující volný přístup k Internetu, kterých již dnes existuje mnoho; chceme je propagovat, pomáhat jim s rozvojem a zároveň podporovat zakládání nových. Investice,
                    které jsou určeny na rozvoj sítí (tzv. NGA) použijeme tak, aby odpovídaly podtřebám obyvatel v kraji a byly stimulační pro rozvoj kunkurečního prostředí mezi poskytovateli připojení.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Zastavíme samoúčelné a předražené projekty v oblasti informačních technologií.</strong>
                </p>
                <p>
                    Místo šetření na lidech zastavíme utrácení peněz za předražená technická řešení informační infrastruktury. Poučíme se v zahraničí, především u našich západních sousedů, kde řešení e-governmentu založená na svobodném softwaru šetří ročně miliony eur.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Rozšíříme použití technologií do dalších oblastí, kde lidem pomáhá.</strong>
                </p>
                <p>
                    Budeme se snažit ve spolupráci s firmami v regionu vybudovat informační kiosky s volnou zónou připojení k Internetu – v knihovnách, na náměstích i jinde. Technologie také využijeme v krizovém řízení pro propojení hasičů a dobrovolníků, stejně jako pro
                    informování občanů.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT18 SECTION "Internet pro všechny" [25687-27538] -->
<h2 class="sectionedit19"><a name="investujeme_do_vzdelani" id="investujeme_do_vzdelani">Investujeme do vzdělání</a></h2>
<div class="level2">

    <p>
        <a href="/_detail/volby2012/kultura.jpg?id=volby%3A2016%3Aprogram" class="media" title="volby2012:kultura.jpg"><img src="/_media/volby2012/kultura.jpg" class="media" title="Knihovna" alt="Knihovna" /></a>
    </p>

</div>
<!-- EDIT19 SECTION "Investujeme do vzdělání" [27539-27613] -->
<h3 class="sectionedit20"><a name="kvalitni_skoly_se_nam_vyplati" id="kvalitni_skoly_se_nam_vyplati">Kvalitní školy se nám vyplatí</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Piráti chápou vzdělávání jako nástroj pro osobní rozvoj, nejen pro získání práce.</strong>
                </p>
                <p>
                    Vzdělání nelze chápat jednostranně ani jako zájem společnosti, ani jako osobní zájem a investici jedince a jeho rodiny. Nepovažujeme za správnou tezi, že by školy měly zejména připravovat studenty na trh práce. Jsme proti rušení osmiletých gymnázií především
                    proto, že zastáváme tezi o svobodné volbě vzdělávací dráhy dětí. Vzdělávání má podporovat a rozvíjet samostatné a svobodné myšlení a právo na něj mají všichni občané. Školy by se měly studenty snažit zaujmout, aby si k oboru vytvořili
                    dobrý vztah; jde hlavě o řemesla obecně, která dnes stojí spíše v pozadí zájmu politiků (tesař, zlatník, kovář, klempíř atd.).
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Škola je jedním z nejdůležitějších míst obce. Usnadníme dětem dopravu do škol a pomůžeme zachovat školy i v menších městech.</strong>
                </p>
                <p>
                    Zejména v obcích a malých městech chceme i z pozice kraje podporovat tradici školy jako centra kultury, neformálního setkávání a celoživotního vzdělávání. Chceme zabránit hrozícímu rušení menších středních škol, což by vedlo jak k další zátěži pro rodiče
                    a děti, tak pravděpodobně i ke snížení dostupnosti kultury a vzdělávání v obci pro všechny její obyvatele. Piráti chtějí ulehčit problematickou situaci s dopravou dětí do škol a školek, neboli omezit vznikající rizika, jako jsou chybějící
                    přechody, nenavazující doprava žáků do škol, apod. Dítě ve školním věku by nemělo být rodině na obtíž.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Ředitelé škol mají mít možnost efektivně rozhodovat o vývoji školy.</strong>
                </p>
                <p>
                    Chceme zvýšit možnosti ředitelů v ohledech rozhodování o budoucím vývoji škol, jak po finanční, tak po provozní stránce. Vedení školy by například mělo mít možnost plánovat v delším horizontu než je jeden rok nebo vytvářet finanční rezervy, které budou
                    použity v souladu s dlouhodobou koncepcí školy. Do přípravy a projednávání těchto dokumentů by měli být zapojeni i starší žáci a veřejnost. Zároveň zavedeme do škol transparentní hospodaření a informační systém, který umožní zapojení
                    všech, kteří mají na chodu školy zájem, a okamžitou kontrolu provedených rozhodnutí.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Podporujeme zavádění demokratických principů na úrovni škol.</strong>
                </p>
                <p>
                    Co školu trápí, ví nejlépe škola sama. Chceme posílit zapojení učitelů, rodičů a žáků do rozhodování a plánování škol, a to formou samosprávných orgánů. Podmínkou pro správná rozhodování jsou kvalitní informace. Škola musí pružně reagovat na podněty a
                    informovat všechny zúčastněné. Proto je nutné dodržovat pravidla otevřeného hospodaření a jednání (<a href="/program/transparence" class="wikilink1" title="program:transparence">Transparentní organizace</a>). Výměnu
                    informací mezi školou, žáky a rodiči zajistí elektronický systém postavený na svobodném softwaru, aby náklady na komunikaci byly co nejlevnější a komunikace přehledná a efektivní.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT20 SECTION "Kvalitní školy se nám vyplatí" [27614-30747] -->
<h3 class="sectionedit21"><a name="usnadnime_lidem_samostatne_vzdelavani" id="usnadnime_lidem_samostatne_vzdelavani">Usnadníme lidem samostatné vzdělávání</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Uvědomujeme si důležitost celoživotního vzdělávání.</strong>
                </p>
                <p>
                    Budeme podporovat zájmové kroužky a kurzy dostupné každému, a to pro všechny věkové skupiny obyvatel. Vytvoříme podmínky pro vzájemné vzdělávání uvnitř komunity formou přednášek a kurzů. Tomu chceme pomoci volně šiřitelnými studijními materiály vytvořenými
                    na školách a poskytnutím zázemí pro setkání za účelem vzdělávání.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Podporujeme studenty, kteří studují více oborů a také studenty, kteří dosahují nejlepších výsledků.</strong>
                </p>
                <p>
                    Pokud se člověk vzdělává ve více oborech, získává tvořivost a širší rozhled, ale také má lepší šanci najít uplatnění na pracovním trhu a přizpůsobit se jeho budoucím změnám, které nepochybně přijdou. Nelze ani zaručit nabídku práce v daném oboru pro všechny
                    jeho absolventy, proto je zaměření na více oborů velkou výhodou. Podporujeme také studenty s výbornými studijními výsledky v rámci specializace příslušné školy a odborné studentské soutěže, které se na úrovni kraje pořádají (olympiády,
                    korespondenční semináře, odborná soustředění) a chceme odměňovat jejich nejúspěšnější účastníky.
                </p>
                <p>
                    Všeobecná vzdělanost přispívá k celkovému přehledu občanů o dění v nejrůznějších oblastech společenského a vědeckého života, může mít i kladný vliv na úroveň vztahů mezi lidmi a zvýšit účast občanů na řízení společnosti. Informovaní občané, kteří mají
                    možnost uplatnit své znalosti a schopnosti, vyžadují méně asistence ze strany státu a jsou méně náchylní k páchání trestné činnosti.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Otevřené formáty zaručí levnou a efektivní výměnu informací.</strong>
                </p>
                <p>
                    Dokumenty a software, které vzniknou v průběhu vzdělávání, budou vždy vydávány pod svobodnými licencemi jako např. Creative Commmons. Již vytvořené informace pak bude možné snadno a levně použít v budoucnu a občané je budou mít k dispozici pro samostatné
                    sebevzdělání. Absolventi tak získají jednoduchou možnost, jak kdysi nabyté znalosti doplňovat. Podporujeme svobodné vzdělávací projekty jako je Wikipedie, které považujeme za vhodné k zapojení studentů, jejichž snaha tak může být ku
                    prospěchu ostatním.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT21 SECTION "Usnadníme lidem samostatné vzdělávání" [30748-33140] -->
<h3 class="sectionedit22"><a name="podporujeme_kulturu_a_sport" id="podporujeme_kulturu_a_sport">Podporujeme kulturu a sport</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Chceme významně podporovat veřejné knihovny, galerie a muzea nadmístního významu.</strong>
                </p>
                <p>
                    Tomáš Garrigue Masaryk prosadil za první republiky zákon, který každé obci uložil otevřít knihovnu. Učinil tak, aby měl každý občan skutečně otevřený přístup k informacím: novým znalostem a novým myšlenkám. První republika byla doba rozmachu knihoven;
                    v současné době je trend opačný, od roku 2004 bylo zrušeno asi 300 knihoven. Pirátská strana podporuje jak místní knihovny, tak knihovny na krajské úrovni, které by měly každému čtenáři zprostředkovat jakoukoliv knihu a měly by být
                    zapojeny do celostátního projektu digitalizace kulturního bohatství. Do budoucna je pochopitelně třeba knihovny modernizovat, aby zajistily každému přístup k informacím. Podobně je třeba klást důraz na aktualizaci muzeí a galerií,
                    aby nadále mohly plnit svou důležitou funkci, a vzbuzovaly v návštěvnících touhu po dalším poznání.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Upřednostňujeme materiální podporu před finanční.</strong>
                </p>
                <p>
                    Poskytování finančních dotací nepovažujeme za hlavní způsob veřejné podpory. Finanční dotace by v každém případě měly být poskytovány jen <a href="/program/transparence" class="wikilink1" title="program:transparence">transparentním organizacím</a>.
                    Příkladem vhodné nefinanční podpory mohou být veřejné prostory a zázemí pro činnost uměleckých souborů, turistických a sportovních oddílů, zájmových kroužků a dalších. Kultura a sport přináší mnoho výhod, které obchodní domy nemohou
                    nabídnout, a měly by být občanům blízko. Proto by se místa vhodná pro kulturní využití v centru měst neměla přeměňovat v komerční centra, ale měla by být v zásadách územního rozvoje vyhrazena právě pro kulturu a sport.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>V oblasti kultury a sportu upřednostňujeme podporu amatérských organizací před komerčními. O možnostech veřejné podpory by měli být lidé přehledně informováni, aby k ní měli rovný přístup.</strong>
                </p>
                <p>
                    Je zbytečné podporovat subjekty, které jsou komerčně úspěšné, jako profesionální sportovní kluby a profesionální kapely. Naopak chceme podporovat komunitní projekty a vytvořit tak podmínky pro volnočasové aktivity. Ve všech obcích a městech by měl fungovat
                    informační systém, který vyhodnotí zájem lidí o volnočasové aktivity a naopak jim poskytne informace o již existujících možnostech. Je třeba pružně reagovat na skutečné potřeby a zájmy občanů.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Zavedeme architektonické soutěže jako standard.</strong>
                </p>
                <p>
                    Architektonické soutěže pro veřejné stavby jsou na západ od našich hranic běžné. Vítěz architektonické soutěže bude navíc svůj projekt hlídat od začátku do konce. Mohou tak vzniknou nové architektonické skvosty. Chceme, aby budovy veřejných institucí
                    měly také architektonickou kvalitu.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Kraj je připraven v územním plánování a dalších činnostech vyhradit pozemky a jinak pomoci veřejným vysokým  školám, výzkumným ústavům a jiným vědeckým pracovištím.</strong>
                </p>
                <p>
                    Věda a výzkum jsou klíčovým bodem programů Pirátů a jejich podporu je třeba zohlednit i na krajské úrovni. Pokud veřejná vysoká škola potřebuje vybudovat nový kampus pro studenty nebo zřídit moderní laboratoře, kraj by jí měl vyjít vstříc a pamatovat
                    na tyto potřeby při schvalování zásad územního rozvoje a v přidělování dotací.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT22 SECTION "Podporujeme kulturu a sport" [33141-36647] -->
<h2 class="sectionedit23"><a name="zajistime_kvalitni_zdravotni_a_socialni_sluzby" id="zajistime_kvalitni_zdravotni_a_socialni_sluzby">Zajistíme kvalitní zdravotní a sociální služby</a></h2>
<div class="level2">

    <p>
        <a href="/_detail/volby2012/zdravotnictvi.jpg?id=volby%3A2016%3Aprogram" class="media" title="volby2012:zdravotnictvi.jpg"><img src="/_media/volby2012/zdravotnictvi.jpg" class="media" title="Operace" alt="Operace" /></a>
    </p>

</div>
<!-- EDIT23 SECTION "Zajistíme kvalitní zdravotní a sociální služby" [36648-36753] -->
<h3 class="sectionedit24"><a name="vyresime_financovani_zdravotnictvi" id="vyresime_financovani_zdravotnictvi">Vyřešíme financování zdravotnictví</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Hlavním problémem zdravotnictví je korupce a s ní spojené zbytečné výdaje.</strong>
                </p>
                <p>
                    Kraje jsou zřizovateli krajských nemocnic. Prosazujeme zavedení modelu <a href="/program/transparence" class="wikilink1" title="program:transparence">transparentní organizace</a>. To znamená, že nemocnice by měly povinnost zveřejňovat
                    všechny smlouvy na Internetu a vedly otevřené účetnictví. Zveřejněny nebudou jen ty informace, které zákon o svobodném přístupu k informacím zveřejnit neumožňuje (soukromí - osobní údaje). Vedle transparentního financování odstraníme
                    závislost na konkrétních dodavatelích, ať už právní nebo faktickou, např. podpoříme rozšíření svobodného softwaru.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT24 SECTION "Vyřešíme financování zdravotnictví" [36754-37480] -->
<h3 class="sectionedit25"><a name="kvalita_a_osobni_pristup_v_socialnich_sluzbach" id="kvalita_a_osobni_pristup_v_socialnich_sluzbach">Kvalita a osobní přístup v sociálních službách</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Stejně jako pro kvalitní zdravotní péči nestačí vždy jen pobyt v nemocnici, pro kvalitní sociální péči o seniory nestačí domov důchodců. Při poskytování péče podporujeme osobní přístup.</strong>
                </p>
                <p>
                    Současný přístup zdravotnických a sociálních zařízení ke klientům je v některých případech neosobní. V řadě případů stav klienta umožňuje, aby nebyl zavřený v nemocnici nebo v domově důchodců, ale není k dispozici podpora pro takovou péči. Prosazujeme
                    tedy, aby se při plánování krajské zdravotní a sociální péče brala v úvahu vedle klasických porodnic také centra aktivního porodu, vedle domovů důchodců pomocné pečovatelské služby a vedle nemocniční péče i domácí ošetřování, kdykoliv
                    mají lidé o takové služby zájem.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Kraj by měl prosazovat rovné zacházení a aktivně předcházet sociálnímu vyloučení.</strong>
                </p>
                <p>
                    Pro zajištění rovnoprávnosti je potřeba dlouhodobé řešení, nikoliv nařízení a kvóty. Podporujeme dlouhodobé nástroje, které odstraňují sociální vyloučení (vzdělání, komunitní centra, důsledné potírání trestné činnosti).
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Klíčové jsou zejména kvalitní a všeobecně dostupné veřejné služby.</strong>
                </p>
                <p>
                    Kvalitní veřejné služby vytvářejí dobré prostředí pro založení rodiny a výchovu dětí pro všechny bez rozdílu (dostupnosti vzdělání, podpora jeslí a školek, volnočasové aktivity atp.). Všeobecná a rovná dostupnost veřejných služeb pro rodinu a vzdělání
                    brání propadu sociálně slabých do vyloučení ze společnosti a přenosu vyloučení na další generace. Dostupnost veřejných služeb ale podpoří i zakládání rodin lidmi, kteří nejsou ohroženi sociálním vyloučením. Podpora zakládání rodin
                    rovněž povede k posílení demografické struktury celé společnosti.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT25 SECTION "Kvalita a osobní přístup v sociálních službách" [37481-39439] -->
<h3 class="sectionedit26"><a name="dame_lidem_sanci_najit_praci" id="dame_lidem_sanci_najit_praci">Dáme lidem šanci najít práci</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Uvědomujeme si, že zaměstnanost je v době, kdy velkou část prací zvládnou technologie, složitou otázkou. Odpověď na tuto otázku vnímáme jako novou výzvu.</strong>
                </p>
                <p>
                    Díky snížení celkové pracovní zátěže mají lidé více času na svou rodinu, koníčky, sebevzdělávání a odpočinek. Ve svém volném čase se mohou věnovat tvůrčím činnostem v kultuře i pomoci ostatním, což má vedle neekonomických přínosů též přímý ekonomický
                    efekt. Nezaměstnaná je žena na mateřské dovolené, student připravující se na povolání, rekvalifikující se horník i vysokoškolský profesor, který má tvůrčí volno – bez nich by naše společnost nemohla dobře fungovat. Proto odmítáme černobílé
                    vidění nezaměstnanosti.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Kraj pomůže absolventům a nezaměstnaným lidem získat práci.</strong>
                </p>
                <p>
                    Moderní technologie nabízejí nové přístupy, jak lidem hledání práce usnadnit, pokud o ni mají sami zájem. Velkým demografickým problémem je zejména nezaměstnanost mladých lidí, kterým chybí praxe, a lidí ve středním věku, kteří opustili dlouhodobé zaměstnání.
                    Současný systém evidence uchazečů o zaměstnání na Úřadu práce České republiky je zastaralý a neodpovídá moderním potřebám trhu práce. Kraj by měl v této problematice spolupracovat s obcemi i státními orgány, aby lidé i podniky měli
                    co nejvíce aktuálních informací z trhu práce. Na programy zaměstnanosti lze čerpat evropské dotace.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT26 SECTION "Dáme lidem šanci najít práci" [39440-40999] -->
<h2 class="sectionedit27"><a name="chranime_zivotni_prostredi" id="chranime_zivotni_prostredi">Chráníme životní prostředí</a></h2>
<div class="level2">

    <p>
        <a href="/_detail/volby2012/zivotniprostredi.jpg?id=volby%3A2016%3Aprogram" class="media" title="volby2012:zivotniprostredi.jpg"><img src="/_media/volby2012/zivotniprostredi.jpg" class="media" title="Ropná rafinerie" alt="Ropná rafinerie" /></a>
    </p>

</div>
<!-- EDIT27 SECTION "Chráníme životní prostředí" [41000-41097] -->
<h3 class="sectionedit28"><a name="odstranujeme_ekologicke_zateze" id="odstranujeme_ekologicke_zateze">Odstraňujeme ekologické zátěže</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Recyklace se musí vyplatit přímo těm, kteří mají snahu recyklovat.</strong>
                </p>
                <p>
                    Smyslem nakládání s odpady není jejich likvidace, ale naopak maximální zhodnocení. Doposud z odpadů takto využíváme pouze zlomek z možného energetického a jiného potenciálu. Chceme vytvořit lepší motivaci pro ekologické hospodaření s odpady.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Ekologické zátěže chceme odstraňovat přímo v místě vzniku.</strong>
                </p>
                <p>
                    Budeme proto klást důraz na výběr skutečně efektivních způsobů odstranění ekologických zátěží. Podporujeme rozvoj hromadné dopravy, která je šetrnější k životnímu prostředí. Umožníme třídění odpadu na krajském úřadu a dalších institucích patřících ke
                    kraji. U průmyslových projektů je třeba důkladně zhodnotit, zda míra znečišťování ovzduší nepřevyšuje jejich přínos.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Otevřeme všechna jednání o projektech, které mají za cíl odstranit ekologickou zátěž.</strong>
                </p>
                <p>
                    Velký důraz budeme klást na odbornost a celkový záměr projektu s využitím nejlepší dostupné technologie pro odstranění ekologické zátěže. Přitom je třeba dbát na odstranění přebujelé byrokracie, která často ochranu životního prostředí komplikuje, a informovat
                    občany srozumitelně. Budeme přitom pozorně sledovat a zohledňovat doporučení Akademie věd České republiky, veřejných vysokých škol a dalších veřejných institucí, které se odborně vyjadřují k ekologickým problémům.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Chceme  mít možnost sledovat zdroje znečištění po celou dobu odstraňování ekologické zátěže.</strong>
                </p>
                <p>
                    Státy se ve Stockholmské úmluvě a jiných mezinárodních smlouvách zavázaly, že odstraní nejhorší trvale znečišťující látky. Během posuzování vlivů na životní prostředí při schvalování projektů, na kterých se finančně podílí kraj, (EIA) budeme trvat na
                    faktickém zavedení těchto standardů do praxe. Zavedeme trvalý dohled nad dodržováním závazných podmínek provozu zařízení a standard oponentního posudku nezávislého odborníka.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT28 SECTION "Odstraňujeme ekologické zátěže" [41098-43258] -->
<h3 class="sectionedit29"><a name="energetiku_stavime_na_inovacich" id="energetiku_stavime_na_inovacich">Energetiku stavíme na inovacích</a></h3>
<div class="level3">
    <ul>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Chceme iniciovat výzkum, vývoj a nasazení nových technologických řešení, která sníží spotřebu elektrické energie a zvýší efektivitu její výroby.</strong>
                </p>
                <p>
                    Úzká orientace na fosilní paliva je špatnou vizí do budoucnosti. Spotřebou fosilních paliv z neobnovitelných zdrojů se stále prohlubuje naše závislost na komoditě, která má své limity. Zaměříme se na skutečně obnovitelné zdroje energií a experimentování
                    s novými zdroji. Konkrétní řešení je třeba vybrat v závislosti na místních podmínkách.
                </p>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <p>
                    <strong>Kraj bude v každém případě upřednostňovat život svých občanů před zájmy těžařských společností. Vedle toho budeme důrazně požadovat, aby  ministerstvo průmyslu a obchodu zvýšilo těžařům platby za nerostné  bohatství.</strong>
                </p>
                <p>
                    Není možné odstraňovat občany z půdy, ke které mají osobní vztah desítky let, jen za účelem těžby uhlí, na kterých vydělávají soukromé společnosti. Za úplnou nezbytnost považujeme místní referendum a kraj by v tom měl být občanům oporou.
                </p>
            </div>
        </li>
    </ul>


</div>
<!-- EDIT29 SECTION "Energetiku stavíme na inovacích" [43259-44394] -->
<h3 class="sectionedit30"><a name="ekologicky_rozvijime_mesta_i_krajinu" id="ekologicky_rozvijime_mesta_i_krajinu">Ekologicky rozvíjíme města i krajinu</a></h3>
<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zajistíme skutečně nezávislé posouzení projektů s účastí samosprávních celků.</strong>
            </p>
            <p>
                Hlavním hlediskem při přidělování dotací průmyslovým podnikům by mělo být použití nejlepší dostupné technologie.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zohledníme doporučení, vyjádření a upozornění neziskového sektoru a místních spolků k projektům s dopadem na životní prostředí.</strong>
            </p>
            <p>
                Neziskové spolky a ekologické iniciativy poskytují zpravidla bezplatně odborný oponentní názor a poukazují na chyby, ke kterým dochází. Tento pohled přináší nové informace a zapojuje občany do rozhodování, proto umožníme spolkům účast na rozhodování o
                přidělení dotací a budeme k jejich názoru při rozhodování přihlížet. Takto máme větší šanci vyloučit chyby v rozhodování způsobené tzv. profesionální slepotou.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Budeme prosazovat rozumnou a střídmou urbanizaci měst a obcí, která nebude představovat zbytečnou zátěž pro životní prostředí, zejména ovzduší a krajinu.</strong>
            </p>
            <p>
                Prosazujeme, aby nové stavby kreativně využívaly opuštěné plochy („brownfields“) a aby měla v městech před průmyslovými skladišti přednost moderní architektura a kultura. Lidé by měli mít možnost aktivně se zapojit do projednávání otázek týkajících se
                územního plánování, krajiny a životního prostředí a také vyvolat o těchto otázkách referendum.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Nebudeme svítit pánubohu do oken.</strong>
            </p>
            <p>
                Našim cílem je úprava osvětlení tak, aby opravdu plnilo svůj účel. Špatně navržené osvětlení zvyšuje finanční náklady, protože zbytečně spotřebovává energii. Vedle toho může mít nadměrné osvětlení i špatný vliv na zdravý spánek obyvatel. Pokud se nám
                podaří zavést kvalitní a cílené osvětlení, třeba pak naše děti uvidí ta malá světélka, která se nazývají hvězdy.
            </p>
        </div>
    </li>
</ul>
