<ul>
    <li class="level1">
        <p>
            <strong>Povedeme úřady a organizace zřízené krajem k úspornému hospodaření.</strong>
        </p>
        <p>
            Úředníci jsou v dnešním systému přidělování krajských či státních peněz nuceni vyčerpat celou přidělenou částku, jinak jsou často svým nadřízeným potrestáni, protože zbytek nevyčerpaných peněz se vrací. Tento systém je podle nás špatný. Úředníci by měli
            být vedeni k šetření a kvalitě. Je potřeba dbát, aby na konci roku nedocházelo k samoúčelnému utrácení. Řešením je komunikace s vedoucími úředníky při přípravě rozpočtu a individuální posouzení převedení nevyčerpaných peněz do
            dalšího roku. Úspory v jednom roce nesmí být automaticky důvodem pro snížení rozpočtu v roce následujícím. Obdobně by to mělo fungovat i v organizacích zřízených krajem.
        </p>
    </li>
    <li>
        <p>
            <strong>Budeme koordinovat hromadné nákupy vybavení, kde lze dosáhnout množstevních slev.</strong>
        </p>
        <p>
            V případech, kdy je možné nakupovat hromadně za nižší ceny, je potřeba posílit spolupráci mezi jednotlivými odděleními krajského úřadu a mezi jednotlivými kraji navzájem. Pro nákup služeb a v dalších případech, kde to bude vhodné, využijeme centrální
            zadávání.
        </p>
    </li>
    <li>
        <p>
            <strong>Prosazujeme důslednější využití evropských dotací a informování všech příjemců, kteří připadají v úvahu.</strong>
        </p>
        <p>
            Krajské úřady rozdělují značnou část evropských dotací. Evropské dotace však často nejsou plně využity, protože se pro ně nenajdou vhodné projekty nebo spolufinancování. Kraj by měl proto vystupovat aktivně a informovat o možnostech získání dotací všechny
            projekty ve svém kraji.
        </p>
    </li>
    <li>
        <p>
            <strong>Snížíme byrokracii.</strong>
        </p>
        <p>
            Odstraníme přebujelou byrokracii v krajských orgánech a na krajských úřadech, při úřadování chceme naopak lépe využívat nové technologie. Komunikace s úřadem by měla probíhat primárně elektronickou cestou. Umělé zvyšování zaměstnanosti zbytečným byrokratickým
            aparátem ztěžuje podnikání a znepříjemňuje lidem životy. Dáváme přednost investicím do rekvalifikace nebo zkrácení pracovní doby při zachování platu úředníkům včas plnícím své úkoly. Propouštěni by měli být neschopní či zkorumpovaní
            úředníci. Naopak chceme motivovat pracovité a poctivé zaměstnance, kteří jsou podmínkou hladkého chodu úřadu a spokojenosti občanů.
        </p>
    </li>
    <li>
        <p>
            <strong>Preferujeme vyrovnaný rozpočet.</strong>
        </p>
        <p>
            Nemáme právo zadlužovat naše děti a přivést kraj do vleklých finančních problémů. Kraj by si měl tvořit rezervu pro nenadálé situace a plánování větších investic důležitých pro další rozvoj obcí a kraje.
        </p>
    </li>
</ul>
