<ul>
    <li class="level1">
            <p>
                <strong>Dozorčí rady a představenstva krajských podniků obsadíme odborníky.</strong>
            </p>
            <p>
                Nesouhlasíme s praktikami starých politických stran, které placená místa v orgánech společností využívají jako trafiky. Dozorčí rady a představenstva začneme obsazovat minimálně z jedné třetiny skrze průhledná nominační řízení, kde nejdůležitějším kritériem
                bude odbornost. Ředitelé společností a příspěvkových organizací budou vybíráni výběrovou komisí, která bude složená z odborníků.
            </p>
    </li>
    <li class="level1">
            <p>
                <strong>Budeme řídit město metodikou projektového řízení.</strong>
            </p>
            <p>
                V programovém prohlášení rady i v různých strategiích kraje musí být jasně stanoveny termíny a odpovědné osoby u jednotlivých úkolů. Na Internetu hodláme zveřejňovat průběžné plnění našich priorit a jednotlivých cílů, aby každý mohl v reálném čase zhodnotit,
                zda svou práci děláme dobře, tak jak to již nyní činíme například na Pražském magistrátu.
            </p>
    </li>
    <li class="level1">
            <p>
                <strong>Občané se dovědí, jak moc pracujeme a s kým se scházíme.</strong>
            </p>
            <p>
                Budeme zveřejňovat seznam schůzek s lobbisty, kolik hodin pracujeme a čím se zrovna zabýváme. Software toto umožňující nabídneme zdarma všem dalším zvoleným politikům nejen v krajích, včetně zaškolení. Přehledně také zveřejníme, kolik peněz od kraje dostáváme.
            </p>
    </li>
    <li class="level1">
            <p>
                <strong>Poženeme úředníky k odpovědnosti za svoje jednání.</strong>
            </p>
            <p>
                Budeme důsledně uplatňovat nápravné a sankční prostředky proti úředníkům, kteří porušují zákon, a to zejména, pokud porušením zákona způsobili škodu.
            </p>
    </li>
</ul>
