<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Piráti budou jednat na všech orgánech co nejotevřeněji.</strong>
            </p>
            <p>
                O termínu zasedání a programu zasedání musí být občan předem informován nejen na vývěsce, ale i elektronicky. Na jednání výborů kraje musí mít přístup každý občan, jednání rady a komisí by měla být také co nejvíce otevřená, pokud by tím nedošlo k porušení
                zákona.
            </p>
            <p>
                Kdokoli má mít možnost vytvářet audiovizuální záznam zasedání a právo ho dále zveřejňovat a šířit. Kvalitní audiovizální záznam navíc musí zajistit sám kraj. Zápisy ze zasedání musí být také vždy zveřejněny a dohledatelné online, včetně návrhů a hlasování
                jednotlivých zastupitelů a přehledu o jejich účasti. Záznamy o zasedání rady a obsahu jednání, které již nyní bývají zveřejňovány, musí být zpřístupněny takovým způsobem, aby byl každý občan schopný je dohledat a jejich obsah následně
                pochopit.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Úplné podklady na zasedání musí být zásadně zveřejňovány předem, aby se s nimi mohl každý seznámit a uplatnit svoje připomínky.</strong>
            </p>
            <p>
                Podklady k zasedáním vyjma těch, které tvoří z velké části jen osobní údaje a bylo by nepřiměřeně náročné je anonymizovat nebo by anonymizace zcela podklady zbavila informačního obsahu, musí být zveřejněny v dostatečném časovém předstihu. Každý z návrhů
                bodu zasedání musí být podložen důvodovou zprávou. Prosazujeme plné uplatnění <a href="/program/minimum" class="wikilink1" title="program:minimum">demokratického minima</a> při jakémkoliv rozhodování, nebudeme tedy hlasovat
                pro usnesení, která nejsou dostatečně dobře podložena.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Připomínkovacího procesu se budou moci účastnit i občané a neziskové organizace.</strong>
            </p>
            <p>
                Zasadíme se, aby odborná veřejnost a občanské iniciativy měli svoje zastoupení v odborných komisích, které pomáhají připravovat návrhy pro zastupitelstvo nebo kontrolují činnost zastupitelstva či rady.
            </p>
        </div>
    </li>
</ul>
