<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zavedeme automatické zveřejňování informací kraje a závislých organizací.</strong>
            </p>
            <p>
                Podle platného zákona o svobodném přístupu k informacím má kraj povinnost zveřejňovat poskytnuté informace, o které si lidé požádají. Chceme jít mnohem dále a zveřejňovat všechny podstatné informace, u kterých není důvod k utajení. Informace je potřeba
                vhodně třídit a značkovat, aby nedošlo k přehlcení. Stejná pravidla se musí vztahovat na krajem zřizované organizace, krajské příspěvkové organizace a obchodní organizace, které kraj ovládá.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>O příjmech a výdajích kraje budeme přehledně informovat pomocí rozklikávacího rozpočtu.</strong>
            </p>
            <p>
                Moderní věk vystihuje obrovské množství informací, a proto je potřeba hledat cesty, jak těmto informacím co nejsnadněji porozumět. Přehledná grafická prezentace rozpočtu je naší povinností vůči občanům, a proto budeme rozpočty poskytovat v otevřeném formátu
                na webu.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zásady územního rozvoje a související územní plány budeme graficky  prezentovat na webu.</strong>
            </p>
            <p>
                Stejně přehledně jako u textových informací chceme prezentovat návrhy zásad územního rozvoje a příslušných územních plánů, aby byly přehledně a rychle pro občany dostupné. Vedle toho musí existovat možnost se přihlásit k odběru aktualizací v okolí svého
                bydliště.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Spustíme portál otevřených dat.</strong>
            </p>
            <p>
                Informace budeme zveřejňovat ve formátu otevřených dat. Budou tak strojově čitelné a kdokoliv s nimi bude moci dále pracovat. Při vývoji portálu budeme spolupracovat a inspirovat se u jiných kde to již funguje, například s členy spolku
                <a href="http://www.otevrenamesta.cz/" class="urlextern" title="http://www.otevrenamesta.cz/" rel="nofollow">Otevřená města</a>. Podpoříme tím vývoj různých aplikací veřejným i soukromým sektorem a zvýšíme celkovou informovanost o kraji.
            </p>
        </div>
    </li>
</ul>
