<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Podporujeme skutečné krajské referendum a občanskou iniciativu.</strong>
            </p>
            <p>
                Současný zákon o krajském referendu považujeme za bezzubý paskvil, který reálnému zapojení občanů spíše brání. Jednak zakazuje občanům rozhodovat o těch nejdůležitějších věcech (rozpočtu, obecně závazných vyhláškách, odvolání) a jednak stanovuje příliš
                přísné podmínky pro jeho vyhlášení. Piráti chtějí skutečnou demokracii, a proto jsou pro nás taková omezení nepřijatelná. Budeme vyhovovat návrhům na vyhlášení referenda i v případě menšího počtu podpisů v petici, než jaký zákon požaduje.
                V hlasováních o zásadních otázkách podporujeme vyhlášení referenda zastupitelstvem, kde bude zpracován kvalitní oponentní posudek odpůrci. Referenda se mohou konat společně s volbami, aby se snížila jejich nákladnost a zvýšila volební
                účast.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Budeme se zabývat peticemi a stížnostmi, které občané zastupitelům zašlou.</strong>
            </p>
            <p>
                Zavazujeme se, že všichni naši zástupci na kraji se budou zabývat všemi peticemi a stížnostmi. Tímto způsobem bychom rádi ukázali zaběhnutým stranám, že všechny výtky občanů je nutno řešit. Není podstatné, zda petice budou organizovány na papíře či elektronicky,
                krajský zastupitel by se jim měl věnovat a podporovat vyhlášení referenda, pokud jde o důležitou otázku a je to k vyřešení petice nebo iniciativy nezbytné.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zřídíme web, který bude od občanů, neziskového sektoru a firem shromažďovat zpětnou vazbu a který umožní veřejnou diskusi.</strong>
            </p>
            <p>
                Prosazujeme dobře cílenou legislativu, která řeší skutečné potřeby občanů. Aby zastupitelé nežili ve slonovinové věži, zřídíme web, kde bude moci hlasovat každý občan kraje a vyjádřit svůj názor každý člověk, který má zájem o dění v kraji. Současný model
                zpětné vazby, kde se volič setkává se svým zastupitelem v jeho kanceláři, považujeme za zastaralý. Není schopen čelit přebujelé byrokracii, která je základním problém veřejné správy. Chceme spolupracovat s ostatními kraji a státními orgány,
                abychom společně vytvořili elektronický systém, kde budou podněty občanů řešeny a zkušenosti krajů sdíleny. Vedle toho zde bude umožněna veřejná neanonymní diskuse o návrzích, které jsou předloženy krajským orgánům. Pokud se hlasování
                na webu osvědčí, bude možné jej rozšířit a stanovit závaznost rozhodnutí pro krajské zastupitelstvo.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Usnadníme setkávání občansky aktivních občanů a vytvoříme dobré podmínky pro jejich zapojení do krajských záležitostí.</strong>
            </p>
            <p>
                Spolky a iniciativy vytvářejí hodnoty, které nejsou v tržním prostředí plně ocenitelné penězi. Kraje mají řadu prostorů, které nejsou celý den využity a měly by být k dispozici aktivním občanům a občanským iniciativám. Podporujeme představu „inkubátoru“
                pro nové občanské iniciativy. Vznikajícím občansky prospěšným iniciativám nabídneme bezplatně prostory, kde se lidé mohou scházet a mají dostatečné technické zázemí.
            </p>
        </div>
    </li>
</ul>
