<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Veřejné služby tu nejsou pro zisk, ale v zájmu občanů.</strong>
            </p>
            <p>
                Poskytování kvalitních veřejných služeb je hlavním cílem územní samosprávy. Úbytek infrastruktury vede k vylidňování obcí. Zavírání místních škol či knihoven podpoříme jen v případech odůvodnených odbornými studiemi. Zanedbání silnic a jiné infrastruktury
                chápeme jako důsledek špatného hospodaření. Předpokládáme, že námi navrhované otevřené hospodaření přinese úspory, které umožní dlouhodobě dotovat i neziskové, přitom prospěšné, služby a jejich rozvoj.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Prosazujeme rovný přístup k veřejným službám.</strong>
            </p>
            <p>
                Není pro nás přijatelné, aby se kraj podílel na zvyšování nerovnosti mezi občany v přístupu k cestám, zdravotním zařízením a jiným veřejným službám. Nechceme, aby byly někteří občané v některých oblastech neodůvodněně zvýhodňováni v přístupu k veřejným
                službám na úkor ostatních. Při plánování infrastruktury budeme brát v úvahu dostupnost služeb, aby nevznikaly vyloučené lokality.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Stavíme se proti sledování občanů v případech, kde to není opodstatněné.</strong>
            </p>
            <p>
                Nesouhlasíme s nadměrným použitím bezpečnostních kamer, čipových karet a podobných nástrojů, zneužitelných pro sledování. Většina lidí má jen velmi málo možností, jak používat veřejné služby bez sledování. Místa, kde se vyskytují kamery, musí být označena.
                Kamery mají opodstatnění jen na některých místech (bankomaty, zlatnictví, nebezpečná místa). Jinde občany obtěžují, aniž by přispívaly k objasňování zločinů.
            </p>
        </div>
    </li>
</ul>
