<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Financování veřejné dopravy a výstavby dopravní infrastruktury se musí dostat pod veřejnou kontrolu.</strong>
            </p>
            <p>
                Všechny dopravní organizace spadající pod kraj musí fungovat transparentně. Jsme proti monopolu na objednávání dopravní obslužnosti, naopak podporujeme soutěž mezi poskytovateli. Veřejné zakázky musí být vypisovány tak, aby se soutěže mohlo účastnit co
                nejvíce firem. Veškeré smlouvy a dokumentace musí být ke kontrole na Internetu.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Odmítáme současnou praxi, kdy jsou nepromyšleně rušeny železniční tratě bez vyčíslování úspor, kterých se tím  dosáhne, bez plánů, jak se zrušenou tratí naložit, a bez propočtu nákladů na možnou výstavbu tratě v budoucnosti.</strong>
            </p>
            <p>
                V České republice existuje hustá železniční síť. V posledních letech se tato síť postupně odstraňuje, zatímco výstavba silnic roste. Piráti se zasazují o průhledné a odůvodněné plánování a výstavbu dopravní infrastruktury. Jako logická první možnost se
                nabízí využití již existujících dopravních sítí. Na železnici je však potřeba větší soutěž mezi dopravci a využití pro přepravu zboží.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>U dopravní stavby je nutné nejprve doložit její skutečnou  užitečnost, teprve poté ji celou připravit, zajistit pozemky a až následně začít stavět.</strong>
            </p>
            <p>
                Celý proces plánování a výstavby velkých dopravních staveb je třeba zásadně změnit. Skoncujeme se současnou praxí, kdy se staví odnikud nikam, případně stát až v průběhu výstavby zjišťuje, že nevykoupil všechny potřebné pozemky. Do připomínkování dopravních
                staveb chceme zapojit veřejnost a neziskové organizace.
            </p>
        </div>
    </li>
</ul>
