<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zasadíme se o to, aby se s cyklisty a chodci počítalo už při plánování dopravní sítě a staveb.</strong>
            </p>
            <p>
                Nechceme nutit lidi k tomu, aby využívali určitý způsob přepravy. Naopak jim chceme otevřít řadu možností, ze kterých si budou moci vybrat. Proto je potřeba s cyklisty a chodci počítat už při plánování dopravních staveb. U stávajících silnic je potřeba
                vyřešit krizová místa tak, aby cyklostezky a cyklotrasy náhle nekončily.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Piráti prosazují propojování jednotlivých složek veřejné dopravy, tedy propojení dopravy autobusové, vlakové a městské hromadné. Musí probíhat na principu otevřených standardů a nemá končit na hranici kraje.</strong>
            </p>
            <p>
                Chceme dosáhnout stavu, kdy si člověk při nástupu do místního autobusu bude moci koupit lístek, který mu vydrží až do centra velkého města, a to i v případě, že během cesty využije vlak. Propojování dopravních systémů není rozumné zavádět pomocí velikášských
                projektů typu Opencard. Lepší je nabídnout jednotlivým přepravcům otevřený systém, ke kterému se mohou přidat.
            </p>
            <p>
                Budeme poskytovat data o prostředcích veřejné dopravy tak, aby je mohly využívat různé komerční i nekomerční aplikace.
            </p>
        </div>
    </li>
</ul>
