<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Je třeba udržovat kulturní i přírodní památky a objevovat nové, zpřístupňovat je veřejnosti a informovat o nich.</strong>
            </p>
            <p>
                Chceme budovat naučné stezky a cyklostezky, protože samotné památky bez vhodného přístupu k nim nestačí. Pro informování turistů má sloužit přehledný krajský web. Dostupné informace v držení kraje (archivní fotografie, texty) by měly být poskytnuty projektům,
                jako je encyklopedie Wikipedie, které svou činností zlepšují informovanost o kraji.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Pro cestovní ruch podporujeme zviditelňování kulturních akcí.</strong>
            </p>
            <p>
                Dnes se jezdí hlavně na větší akce v krajských městech, my je chceme rozšířit i do menších měst. Pořadatelé akcí by o dotace z krajského rozpočtu měli soutěžit v průhledných grantových řízeních.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Prosazujeme transparentní nakládání s dotacemi EU na regionální rozvoj.</strong>
            </p>
            <p>
                Evropské dotace mají být využívány na projekty prospěšné co nejvíce lidem, ne na golfová hřiště či soukromé zámečky, ze kterých mají užitek jen někteří. Toho lze dosáhnout transparentním nakládáním s nimi, spojeným s větším důrazem na názor občanů.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Za efektivní nástroj považujeme sdílení osvědčených projektů mezi kraji, obcemi a přes hranice.</strong>
            </p>
            <p>
                Není potřeba vynalézat kolo. Pokud je nějaký projekt úspěšný, měl by být dostatečně propagován, aby ho mohly realizovat ostatní kraje či obce. Proto podporujeme jejich vzájemnou větší komunikaci. Užitečné je také čerpat inspiraci ze zahraničí, kde mají
                často větší zkušenosti.
            </p>
        </div>
    </li>
</ul>
