<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Informovaný a angažovaný občan je největším spojencem efektivní státní správy. Umožníme každému se takovým občanem stát a zajišťovat spolu s ostatními nestranný dohled nad státní správou.</strong>
            </p>
            <p>
                Zavedeme elektronické systémy zajištující komunikaci a aktivní zapojení široké veřejnosti ve správě kraje a budeme podporovat obdobný vývoj i na obecní úrovni. Umožníme občanům se elektronicky sdružovat na místním principu a diskutovat s politiky problémy,
                které se jich týkají.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Kraj musí zajistit dostupné a předpřipravené formuláře pro odstranění zbytečné byrokracie.</strong>
            </p>
            <p>
                Pro úsporu času občanů zajistíme, aby veškeré dokumenty nutné pro styk s úřadem byly dostupné a snadno dohledatelné na krajském webu, a to v otevřených formátech, zpracovatelných zdarma dostupným softwarem. Pro lepší informovanost nabídneme možnost přihlásit
                se k odběru vývěsky kraje v e-mailové podobě a RSS. Zaměříme se na to, aby byly formuláře a smlouvy připraveny na bezproblémové použití; nutnou podmínkou je použití srozumitelné češtiny, nikoliv právní hantýrky.
            </p>
        </div>
    </li>
