<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Budeme používat svobodné formáty.</strong>
            </p>
            <p>
                Krajský úřad bude všechny dokumenty určené veřejnosti zveřejňovat ve svobodných a otevřených formátech, pokud takový formát ve vhodné kvalitě existuje pro daný typ dat (např. ODT a PDF pro textové dokumenty, WebM pro audiovizuální soubory, apod.). Kraj
                nesmí žádat po občanech používání konkrétních placených programů pro bezchybný přístup k informacím, které vytvořil.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zajistíme přechod úřadů na svobodný software kdekoliv je to možné. Svobodný software bude rozšířen i do škol, nemocnic a dalších  organizací zřizovaných krajem.</strong>
            </p>
            <p>
                V dnešní době existuje řada počítačových programů, které jsou dostupné zdarma a zvládnou stejné funkce jako zavedené komerční programy. Přesto řada úřadů utrácí obrovské peníze za komerční programy. Kromě toho, že je <a href="/program/svoboda_informaci"
                    class="wikilink1" title="program:svoboda_informaci">svobodný software</a> dostupný zdarma, může také kdokoliv studovat kód a odhalit případné zlomyslné funkce, které mohou ohrozit bezpečnost osobních údajů občanů nebo umožňují manipulace
                („losovačka“ u veřejných zakázek). Svobodný software má také výhody při vyučování, a proto podporujeme jeho rozšíření do škol. Pro dlouhodobou úsporu nákladů se zavazujeme používat svobodný software všude tam, kde je to možné.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zrovnoprávníme živnostníky a střední firmy ve veřejných zakázkách týkajících se informačních technologií.</strong>
            </p>
            <p>
                U velkých komerčních programů je často problém, že kvůli nepřístupnosti zdrojového kódu a smluvené licenci nemůžete program sami upravovat a doplňovat, i když si ho legálně koupíte. Také pro svobodný software existují komerční firmy, které se zabývají
                jeho vývojem a podporou. Výhoda svobodného softwaru je také v tom, že úřad není závislý na jednom dodavateli, ale může si najmout firmu, která program doplní a upraví podle potřeb úřadu. Nově vyvinutý program bude dostupný i pro další
                použití úřadů, ale díky svobodné licenci ho budou moci používat i občané a firmy ve svém podnikání.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zavedeme profesionální šablony a otevřené standardy pro dokumenty, které usnadní jejich zveřejňování.</strong>
            </p>
            <p>
                Podobně jako v Německu bude součástí úředních šablon i jednotný a profesionální vzhled dokumentů. Díky jednotným šablonám a svobodným formátům podle standardu Open Data budou rozhodnutí rychleji zpracována a automaticky publikována v souladu se zákonem
                o svobodném přístupu k informacím podle modelu <a href="/program/transparence" class="wikilink1" title="program:transparence">transparentní organizace</a>.
            </p>
        </div>
    </li>
</ul>
