<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Podporujeme volnou přístupnost Internetu ve veřejných prostorách a prostranstvích i v domácnostech.</strong>
            </p>
            <p>
                Stejně tak, jako se kdysi staly nepostradatelnými vodovody a elektrická síť, začíná být i Internet nepostradatelný pro způsob života většiny lidí. Dostupný Internet lidem usnadňuje hledání práce a poskytuje jim přístup k informacím. Budeme směřovat investice
                do infrastruktury, odstraňování bariér a vhodného územního plánování; vytvoříme tak podmínky pro rychlý a dostupný Internet.
            </p>
            <p>
                Budeme zavádět wi-fi připojení ve veřejných budovách. Chceme též podporovat sdružení poskytující volný přístup k Internetu, kterých již dnes existuje mnoho; chceme je propagovat, pomáhat jim s rozvojem a zároveň podporovat zakládání nových. Investice,
                které jsou určeny na rozvoj sítí (tzv. NGA) použijeme tak, aby odpovídaly podtřebám obyvatel v kraji a byly stimulační pro rozvoj kunkurečního prostředí mezi poskytovateli připojení.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zastavíme samoúčelné a předražené projekty v oblasti informačních technologií.</strong>
            </p>
            <p>
                Místo šetření na lidech zastavíme utrácení peněz za předražená technická řešení informační infrastruktury. Poučíme se v zahraničí, především u našich západních sousedů, kde řešení e-governmentu založená na svobodném softwaru šetří ročně miliony eur.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Rozšíříme použití technologií do dalších oblastí, kde lidem pomáhá.</strong>
            </p>
            <p>
                Budeme se snažit ve spolupráci s firmami v regionu vybudovat informační kiosky s volnou zónou připojení k Internetu – v knihovnách, na náměstích i jinde. Technologie také využijeme v krizovém řízení pro propojení hasičů a dobrovolníků, stejně jako pro
                informování občanů.
            </p>
        </div>
    </li>
</ul>
