<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Uvědomujeme si důležitost celoživotního vzdělávání.</strong>
            </p>
            <p>
                Budeme podporovat zájmové kroužky a kurzy dostupné každému, a to pro všechny věkové skupiny obyvatel. Vytvoříme podmínky pro vzájemné vzdělávání uvnitř komunity formou přednášek a kurzů. Tomu chceme pomoci volně šiřitelnými studijními materiály vytvořenými
                na školách a poskytnutím zázemí pro setkání za účelem vzdělávání.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Podporujeme studenty, kteří studují více oborů a také studenty, kteří dosahují nejlepších výsledků.</strong>
            </p>
            <p>
                Pokud se člověk vzdělává ve více oborech, získává tvořivost a širší rozhled, ale také má lepší šanci najít uplatnění na pracovním trhu a přizpůsobit se jeho budoucím změnám, které nepochybně přijdou. Nelze ani zaručit nabídku práce v daném oboru pro všechny
                jeho absolventy, proto je zaměření na více oborů velkou výhodou. Podporujeme také studenty s výbornými studijními výsledky v rámci specializace příslušné školy a odborné studentské soutěže, které se na úrovni kraje pořádají (olympiády,
                korespondenční semináře, odborná soustředění) a chceme odměňovat jejich nejúspěšnější účastníky.
            </p>
            <p>
                Všeobecná vzdělanost přispívá k celkovému přehledu občanů o dění v nejrůznějších oblastech společenského a vědeckého života, může mít i kladný vliv na úroveň vztahů mezi lidmi a zvýšit účast občanů na řízení společnosti. Informovaní občané, kteří mají
                možnost uplatnit své znalosti a schopnosti, vyžadují méně asistence ze strany státu a jsou méně náchylní k páchání trestné činnosti.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Otevřené formáty zaručí levnou a efektivní výměnu informací.</strong>
            </p>
            <p>
                Dokumenty a software, které vzniknou v průběhu vzdělávání, budou vždy vydávány pod svobodnými licencemi jako např. Creative Commmons. Již vytvořené informace pak bude možné snadno a levně použít v budoucnu a občané je budou mít k dispozici pro samostatné
                sebevzdělání. Absolventi tak získají jednoduchou možnost, jak kdysi nabyté znalosti doplňovat. Podporujeme svobodné vzdělávací projekty jako je Wikipedie, které považujeme za vhodné k zapojení studentů, jejichž snaha tak může být ku
                prospěchu ostatním.
            </p>
        </div>
    </li>
</ul>
