<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Chceme významně podporovat veřejné knihovny, galerie a muzea nadmístního významu.</strong>
            </p>
            <p>
                Tomáš Garrigue Masaryk prosadil za první republiky zákon, který každé obci uložil otevřít knihovnu. Učinil tak, aby měl každý občan skutečně otevřený přístup k informacím: novým znalostem a novým myšlenkám. První republika byla doba rozmachu knihoven;
                v současné době je trend opačný, od roku 2004 bylo zrušeno asi 300 knihoven. Pirátská strana podporuje jak místní knihovny, tak knihovny na krajské úrovni, které by měly každému čtenáři zprostředkovat jakoukoliv knihu a měly by být
                zapojeny do celostátního projektu digitalizace kulturního bohatství. Do budoucna je pochopitelně třeba knihovny modernizovat, aby zajistily každému přístup k informacím. Podobně je třeba klást důraz na aktualizaci muzeí a galerií,
                aby nadále mohly plnit svou důležitou funkci, a vzbuzovaly v návštěvnících touhu po dalším poznání.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Upřednostňujeme materiální podporu před finanční.</strong>
            </p>
            <p>
                Poskytování finančních dotací nepovažujeme za hlavní způsob veřejné podpory. Finanční dotace by v každém případě měly být poskytovány jen <a href="/program/transparence" class="wikilink1" title="program:transparence">transparentním organizacím</a>.
                Příkladem vhodné nefinanční podpory mohou být veřejné prostory a zázemí pro činnost uměleckých souborů, turistických a sportovních oddílů, zájmových kroužků a dalších. Kultura a sport přináší mnoho výhod, které obchodní domy nemohou
                nabídnout, a měly by být občanům blízko. Proto by se místa vhodná pro kulturní využití v centru měst neměla přeměňovat v komerční centra, ale měla by být v zásadách územního rozvoje vyhrazena právě pro kulturu a sport.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>V oblasti kultury a sportu upřednostňujeme podporu amatérských organizací před komerčními. O možnostech veřejné podpory by měli být lidé přehledně informováni, aby k ní měli rovný přístup.</strong>
            </p>
            <p>
                Je zbytečné podporovat subjekty, které jsou komerčně úspěšné, jako profesionální sportovní kluby a profesionální kapely. Naopak chceme podporovat komunitní projekty a vytvořit tak podmínky pro volnočasové aktivity. Ve všech obcích a městech by měl fungovat
                informační systém, který vyhodnotí zájem lidí o volnočasové aktivity a naopak jim poskytne informace o již existujících možnostech. Je třeba pružně reagovat na skutečné potřeby a zájmy občanů.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zavedeme architektonické soutěže jako standard.</strong>
            </p>
            <p>
                Architektonické soutěže pro veřejné stavby jsou na západ od našich hranic běžné. Vítěz architektonické soutěže bude navíc svůj projekt hlídat od začátku do konce. Mohou tak vzniknou nové architektonické skvosty. Chceme, aby budovy veřejných institucí
                měly také architektonickou kvalitu.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Kraj je připraven v územním plánování a dalších činnostech vyhradit pozemky a jinak pomoci veřejným vysokým  školám, výzkumným ústavům a jiným vědeckým pracovištím.</strong>
            </p>
            <p>
                Věda a výzkum jsou klíčovým bodem programů Pirátů a jejich podporu je třeba zohlednit i na krajské úrovni. Pokud veřejná vysoká škola potřebuje vybudovat nový kampus pro studenty nebo zřídit moderní laboratoře, kraj by jí měl vyjít vstříc a pamatovat
                na tyto potřeby při schvalování zásad územního rozvoje a v přidělování dotací.
            </p>
        </div>
    </li>
</ul>
