<ul>
    <li><strong>Hlavním problémem zdravotnictví je korupce a s ní spojené zbytečné výdaje.</strong>

      <p>Kraje jsou zřizovateli krajských nemocnic. Prosazujeme zavedení modelu transparentní organizace. To znamená, že nemocnice by měly povinnost zveřejňovat všechny smlouvy na Internetu a vedly otevřené účetnictví. Zveřejněny nebudou jen ty informace, které zákon o svobodném přístupu k informacím zveřejnit neumožňuje (soukromí - osobní údaje). Vedle transparentního financování odstraníme závislost na konkrétních dodavatelích, ať už právní nebo faktickou, např. podpoříme rozšíření svobodného softwaru.</p>
  </li>
</ul>
