<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Stejně jako pro kvalitní zdravotní péči nestačí vždy jen pobyt v nemocnici, pro kvalitní sociální péči o seniory nestačí domov důchodců. Při poskytování péče podporujeme osobní přístup.</strong>
            </p>
            <p>
                Současný přístup zdravotnických a sociálních zařízení ke klientům je v některých případech neosobní. V řadě případů stav klienta umožňuje, aby nebyl zavřený v nemocnici nebo v domově důchodců, ale není k dispozici podpora pro takovou péči. Prosazujeme
                tedy, aby se při plánování krajské zdravotní a sociální péče brala v úvahu vedle klasických porodnic také centra aktivního porodu, vedle domovů důchodců pomocné pečovatelské služby a vedle nemocniční péče i domácí ošetřování, kdykoliv
                mají lidé o takové služby zájem.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Kraj by měl prosazovat rovné zacházení a aktivně předcházet sociálnímu vyloučení.</strong>
            </p>
            <p>
                Pro zajištění rovnoprávnosti je potřeba dlouhodobé řešení, nikoliv nařízení a kvóty. Podporujeme dlouhodobé nástroje, které odstraňují sociální vyloučení (vzdělání, komunitní centra, důsledné potírání trestné činnosti).
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Klíčové jsou zejména kvalitní a všeobecně dostupné veřejné služby.</strong>
            </p>
            <p>
                Kvalitní veřejné služby vytvářejí dobré prostředí pro založení rodiny a výchovu dětí pro všechny bez rozdílu (dostupnosti vzdělání, podpora jeslí a školek, volnočasové aktivity atp.). Všeobecná a rovná dostupnost veřejných služeb pro rodinu a vzdělání
                brání propadu sociálně slabých do vyloučení ze společnosti a přenosu vyloučení na další generace. Dostupnost veřejných služeb ale podpoří i zakládání rodin lidmi, kteří nejsou ohroženi sociálním vyloučením. Podpora zakládání rodin
                rovněž povede k posílení demografické struktury celé společnosti.
            </p>
        </div>
    </li>
</ul>
