<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Uvědomujeme si, že zaměstnanost je v době, kdy velkou část prací zvládnou technologie, složitou otázkou. Odpověď na tuto otázku vnímáme jako novou výzvu.</strong>
            </p>
            <p>
                Díky snížení celkové pracovní zátěže mají lidé více času na svou rodinu, koníčky, sebevzdělávání a odpočinek. Ve svém volném čase se mohou věnovat tvůrčím činnostem v kultuře i pomoci ostatním, což má vedle neekonomických přínosů též přímý ekonomický
                efekt. Nezaměstnaná je žena na mateřské dovolené, student připravující se na povolání, rekvalifikující se horník i vysokoškolský profesor, který má tvůrčí volno – bez nich by naše společnost nemohla dobře fungovat. Proto odmítáme černobílé
                vidění nezaměstnanosti.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Kraj pomůže absolventům a nezaměstnaným lidem získat práci.</strong>
            </p>
            <p>
                Moderní technologie nabízejí nové přístupy, jak lidem hledání práce usnadnit, pokud o ni mají sami zájem. Velkým demografickým problémem je zejména nezaměstnanost mladých lidí, kterým chybí praxe, a lidí ve středním věku, kteří opustili dlouhodobé zaměstnání.
                Současný systém evidence uchazečů o zaměstnání na Úřadu práce České republiky je zastaralý a neodpovídá moderním potřebám trhu práce. Kraj by měl v této problematice spolupracovat s obcemi i státními orgány, aby lidé i podniky měli
                co nejvíce aktuálních informací z trhu práce. Na programy zaměstnanosti lze čerpat evropské dotace.
            </p>
        </div>
    </li>
</ul>
