<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Recyklace se musí vyplatit přímo těm, kteří mají snahu recyklovat.</strong>
            </p>
            <p>
                Smyslem nakládání s odpady není jejich likvidace, ale naopak maximální zhodnocení. Doposud z odpadů takto využíváme pouze zlomek z možného energetického a jiného potenciálu. Chceme vytvořit lepší motivaci pro ekologické hospodaření s odpady.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Ekologické zátěže chceme odstraňovat přímo v místě vzniku.</strong>
            </p>
            <p>
                Budeme proto klást důraz na výběr skutečně efektivních způsobů odstranění ekologických zátěží. Podporujeme rozvoj hromadné dopravy, která je šetrnější k životnímu prostředí. Umožníme třídění odpadu na krajském úřadu a dalších institucích patřících ke
                kraji. U průmyslových projektů je třeba důkladně zhodnotit, zda míra znečišťování ovzduší nepřevyšuje jejich přínos.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Otevřeme všechna jednání o projektech, které mají za cíl odstranit ekologickou zátěž.</strong>
            </p>
            <p>
                Velký důraz budeme klást na odbornost a celkový záměr projektu s využitím nejlepší dostupné technologie pro odstranění ekologické zátěže. Přitom je třeba dbát na odstranění přebujelé byrokracie, která často ochranu životního prostředí komplikuje, a informovat
                občany srozumitelně. Budeme přitom pozorně sledovat a zohledňovat doporučení Akademie věd České republiky, veřejných vysokých škol a dalších veřejných institucí, které se odborně vyjadřují k ekologickým problémům.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Chceme  mít možnost sledovat zdroje znečištění po celou dobu odstraňování ekologické zátěže.</strong>
            </p>
            <p>
                Státy se ve Stockholmské úmluvě a jiných mezinárodních smlouvách zavázaly, že odstraní nejhorší trvale znečišťující látky. Během posuzování vlivů na životní prostředí při schvalování projektů, na kterých se finančně podílí kraj, (EIA) budeme trvat na
                faktickém zavedení těchto standardů do praxe. Zavedeme trvalý dohled nad dodržováním závazných podmínek provozu zařízení a standard oponentního posudku nezávislého odborníka.
            </p>
        </div>
    </li>
</ul>
