<ul>
    <li class="level1">
            <p>
                <strong>Chceme iniciovat výzkum, vývoj a nasazení nových technologických řešení, která sníží spotřebu elektrické energie a zvýší efektivitu její výroby.</strong>
            </p>
            <p>
                Úzká orientace na fosilní paliva je špatnou vizí do budoucnosti. Spotřebou fosilních paliv z neobnovitelných zdrojů se stále prohlubuje naše závislost na komoditě, která má své limity. Zaměříme se na skutečně obnovitelné zdroje energií a experimentování
                s novými zdroji. Konkrétní řešení je třeba vybrat v závislosti na místních podmínkách.
            </p>
    </li>
    <li class="level1">
            <p>
                <strong>Kraj bude v každém případě upřednostňovat život svých občanů před zájmy těžařských společností. Vedle toho budeme důrazně požadovat, aby  ministerstvo průmyslu a obchodu zvýšilo těžařům platby za nerostné  bohatství.</strong>
            </p>
            <p>
                Není možné odstraňovat občany z půdy, ke které mají osobní vztah desítky let, jen za účelem těžby uhlí, na kterých vydělávají soukromé společnosti. Za úplnou nezbytnost považujeme místní referendum a kraj by v tom měl být občanům oporou.
            </p>
    </li>
</ul>
