<ul>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zajistíme skutečně nezávislé posouzení projektů s účastí samosprávních celků.</strong>
            </p>
            <p>
                Hlavním hlediskem při přidělování dotací průmyslovým podnikům by mělo být použití nejlepší dostupné technologie.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Zohledníme doporučení, vyjádření a upozornění neziskového sektoru a místních spolků k projektům s dopadem na životní prostředí.</strong>
            </p>
            <p>
                Neziskové spolky a ekologické iniciativy poskytují zpravidla bezplatně odborný oponentní názor a poukazují na chyby, ke kterým dochází. Tento pohled přináší nové informace a zapojuje občany do rozhodování, proto umožníme spolkům účast na rozhodování o
                přidělení dotací a budeme k jejich názoru při rozhodování přihlížet. Takto máme větší šanci vyloučit chyby v rozhodování způsobené tzv. profesionální slepotou.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Budeme prosazovat rozumnou a střídmou urbanizaci měst a obcí, která nebude představovat zbytečnou zátěž pro životní prostředí, zejména ovzduší a krajinu.</strong>
            </p>
            <p>
                Prosazujeme, aby nové stavby kreativně využívaly opuštěné plochy („brownfields“) a aby měla v městech před průmyslovými skladišti přednost moderní architektura a kultura. Lidé by měli mít možnost aktivně se zapojit do projednávání otázek týkajících se
                územního plánování, krajiny a životního prostředí a také vyvolat o těchto otázkách referendum.
            </p>
        </div>
    </li>
    <li class="level1">
        <div class="li">
            <p>
                <strong>Nebudeme svítit pánubohu do oken.</strong>
            </p>
            <p>
                Našim cílem je úprava osvětlení tak, aby opravdu plnilo svůj účel. Špatně navržené osvětlení zvyšuje finanční náklady, protože zbytečně spotřebovává energii. Vedle toho může mít nadměrné osvětlení i špatný vliv na zdravý spánek obyvatel. Pokud se nám
                podaří zavést kvalitní a cílené osvětlení, třeba pak naše děti uvidí ta malá světélka, která se nazývají hvězdy.
            </p>
        </div>
    </li>
</ul>
