<div class="medium-12 large-4 columns">
    <aside class="o-section">
        <div class="o-section-inner o-section-inner--rightBlock">
            <div class="o-section-block--spaceBot show-for-large">
                <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
                    <li class="c-widget-accordion-item is-active" data-accordion-item="">
                        <a href="#" class="c-widget-accordion-link">
                            <span class="c-widget-accordion__title">Obsah</span>
                            <span class="c-widget-accordion__icon c-widget-accordion__icon" aria-hidden="true">
                              <i class="fa fa-list"></i>
                            </span>
                        </a>
                        <div class="c-widget-accordion-content" data-tab-content="">
                            <div class="c-widget-accordion-content-inner">
                                <h4 class="c-widget-accordion-list__heading">Společný program pro<br>krajské volby 2016</h4>
                                <ul class="c-widget-accordion-list">
                                    <li>
                                        <a href="#">Otevřeme hospodaření kraje</a>
                                        <ul>
                                            <li>
                                                <a href="#">Zprůhledníme financování</a>
                                            </li>
                                            <li>
                                                <a href="#">Budeme hospodařit efektivně</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Víme, jak řídit kraj zodpovědně</a>
                                    </li>
                                    <li>
                                        <a href="#">Zapojíme občany do rozhodování</a>
                                        <ul>
                                            <li>
                                                <a href="#">Jednáme s lidmi otevřeně</a>
                                            </li>
                                            <li>
                                                <a href="#">Usnadníme přístup k informacím</a>
                                            </li>
                                            <li>
                                                <a href="#">Vyjdeme vstříc aktivním občanům</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Veřejné služby slouží občanům</a>
                                        <ul>
                                            <li>
                                                <a href="#">Dohlédneme na kvalitní a dostupné veřejné služby</a>
                                            </li>
                                            <li>
                                                <a href="#">Dopravní infrastruktura s koncepcí a rozmyslem</a>
                                            </li>
                                            <li>
                                                <a href="#">Zlepšíme dopravní obslužnost</a>
                                            </li>
                                            <li>
                                                <a href="#">Využijeme příležitosti pro cestovní ruch</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Prosadíme moderní technologie</a>
                                        <ul>
                                            <li>
                                                <a href="#">Usnadníme občanům styk s úřady</a>
                                            </li>
                                            <li>
                                                <a href="#">Osvobodíme software a formáty</a>
                                            </li>
                                            <li>
                                                <a href="#">Internet pro všechny</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Investujeme do vzdělání</a>
                                        <ul>
                                            <li>
                                                <a href="#">Kvalitní školy se nám vyplatí</a>
                                            </li>
                                            <li>
                                                <a href="#">Usnadníme lidem samostatné vzdělávání</a>
                                            </li>
                                            <li>
                                                <a href="#">Podporujeme kulturu a sport</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Zajistíme kvalitní zdravotní a sociální služby</a>
                                        <ul>
                                            <li>
                                                <a href="#">Vyřešíme financování zdravotnictví</a>
                                            </li>
                                            <li>
                                                <a href="#">Kvalita a osobní přístup v sociálních službách</a>
                                            </li>
                                            <li>
                                                <a href="#">Dáme lidem šanci najít práci</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Chráníme životní prostředí</a>
                                        <ul>
                                            <li>
                                                <a href="#">Odstraňujeme ekologické zátěže</a>
                                            </li>
                                            <li>
                                                <a href="#">Energetiku stavíme na inovacích</a>
                                            </li>
                                            <li>
                                                <a href="#">Ekologicky rozvíjíme města i krajinu </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</div>
