<div class="medium-12 large-4 columns">
    <aside class="o-section">
        <div class="o-section-inner o-section-inner--rightBlock">
            <div class="o-section-block--spaceBot show-for-large">
                <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
                    <li class="c-widget-accordion-item is-active" data-accordion-item="">
                        <a href="#" class="c-widget-accordion-link">
                            <span class="c-widget-accordion__title">Obsah</span>
                            <span class="c-widget-accordion__icon c-widget-accordion__icon" aria-hidden="true">
                              <i class="fa fa-list"></i>
                            </span>
                        </a>
                        <div class="c-widget-accordion-content" data-tab-content="">
                            <div class="c-widget-accordion-content-inner">
                                <h4 class="c-widget-accordion-list__heading">Společný program pro<br>krajské volby 2016</h4>
                                <ul class="c-widget-accordion-list">
                                    <li>
                                        <a href="#hospodareni">Otevřeme hospodaření kraje</a>
                                        <ul>
                                            <li>
                                                <a href="#zpruhlednime">Zprůhledníme financování</a>
                                            </li>
                                            <li>
                                                <a href="#zefektivnime">Budeme hospodařit efektivně</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#zodpovednost">Víme, jak řídit kraj zodpovědně</a>
                                    </li>
                                    <li>
                                        <a href="#zapojime">Zapojíme občany do rozhodování</a>
                                        <ul>
                                            <li>
                                                <a href="#otevrene">Jednáme s lidmi otevřeně</a>
                                            </li>
                                            <li>
                                                <a href="#informace">Usnadníme přístup k informacím</a>
                                            </li>
                                            <li>
                                                <a href="#aktivni-obcane">Vyjdeme vstříc aktivním občanům</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#verejne-sluzby">Veřejné služby slouží občanům</a>
                                        <ul>
                                            <li>
                                                <a href="#kvalitni-verejne-sluzby">Dohlédneme na kvalitní a dostupné veřejné služby</a>
                                            </li>
                                            <li>
                                                <a href="#dopravni-infrastruktura-s-koncepci">Dopravní infrastruktura s koncepcí a rozmyslem</a>
                                            </li>
                                            <li>
                                                <a href="#dopravni-obsluznost">Zlepšíme dopravní obslužnost</a>
                                            </li>
                                            <li>
                                                <a href="#cestovni-ruch">Využijeme příležitosti pro cestovní ruch</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#moderni-technologie">Prosadíme moderní technologie</a>
                                        <ul>
                                            <li>
                                                <a href="#kontakt-s-urady">Usnadníme občanům styk s úřady</a>
                                            </li>
                                            <li>
                                                <a href="#osvobodime-software">Osvobodíme software a formáty</a>
                                            </li>
                                            <li>
                                                <a href="#internet-pro-vsechny">Internet pro všechny</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#investujeme-do-vzdelani">Investujeme do vzdělání</a>
                                        <ul>
                                            <li>
                                                <a href="#kvalitni-vzdelani">Kvalitní školy se nám vyplatí</a>
                                            </li>
                                            <li>
                                                <a href="#samovzdelani">Usnadníme lidem samostatné vzdělávání</a>
                                            </li>
                                            <li>
                                                <a href="#kultura-a-sport">Podporujeme kulturu a sport</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#zdravotnictvi">Zajistíme kvalitní zdravotní a sociální služby</a>
                                        <ul>
                                            <li>
                                                <a href="#financovani-zdravotnictvi">Vyřešíme financování zdravotnictví</a>
                                            </li>
                                            <li>
                                                <a href="#socialni-sluzby">Kvalita a osobní přístup v sociálních službách</a>
                                            </li>
                                            <li>
                                                <a href="#prace">Dáme lidem šanci najít práci</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#zivotni-prostredi">Chráníme životní prostředí</a>
                                        <ul>
                                            <li>
                                                <a href="#ekologicke-zateze">Odstraňujeme ekologické zátěže</a>
                                            </li>
                                            <li>
                                                <a href="#energetika-na-inovacich">Energetiku stavíme na inovacích</a>
                                            </li>
                                            <li>
                                                <a href="#ekologicky-rozvoj">Ekologicky rozvíjíme města i krajinu </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</div>
